/* Basic Style */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Body style */
body {
  margin: 0;
  min-width: 320px;
  color: #666;
  background: white !important;
}

h1 {
  font-size: 3.2em;
}

/* Code-Editor Style */
.cm-editor {
  height: calc(100vh - 121px);
}
.text-editor {
  height: calc(100vh - 133px);
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Header style */
.header {
  background-color: white;
  top: 0;
  width: 100%;
}

.header_logo {
  height: 35px;
}

.header_logo a {
  color: #0074c1;
  padding-left: 30px;
  font-size: 1.2rem;
  line-height: 35px;
}

.header_logo a:hover {
  color: #0074c1;
}

/* Foot style */
.footer {
  font-size: 0.6rem;
  position: fixed;
  bottom: 0;
  height: 18px;
  width: 100vw;
}

.footer-right {
  text-align: right;
}

.footer-left {
  text-align: left;
}

.footer-center {
  text-align: center;
}

.footer-small {
  font-size: 0.6rem;
}
d .footer-large {
  font-size: 1rem;
}

.footer-medium {
  font-size: 0.8rem;
}

/* Link style */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Screen Set */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
